.abouttop {
            /* sätta in någon bakgrund? */
    margin: 6em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 900px;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}
.abouttop img {
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #bbbbbb;
}
.abouttop h1 {
    border-bottom: 3px solid black;
    text-align: center;  
}
.abouttop h5 {
    margin-bottom: 2em;
    text-align: center;    
}

.aboutquote {
    margin: 2em;
    font-style: italic;
    text-align: center;
}

.goalssection {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.goalsleft{
    padding:3em;
    background-color: gray;   
}

.goalsright{
    padding:3em;
    background-color:#bbbbbb;
}