
.header {
  display: flex;
  background-color: var(--backdark);
  color: var(--textlight);
  padding: 1rem 2rem;
  align-items: center;
}

.nav a {
  color: var(--textlight);
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
  color: var(--backlight);
}   

.left-section,
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
}
/* ÄNDRA Till att menyn blir hamburger menu när man kommer ner till 500 width */